html {
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
}

.background-image {
  background-image: url('./assets/background-image.jpg');
  width: 100%;
  height: 100vh;
}

.background-tint {
  width: 100%;
  height: 100vh;
  background-color: rgba(60, 126, 95, 0.6);
}

.top-header {
  background-color: #6c8d7e;
  padding: 10px;
  border-bottom: 3px solid #80968a;
  box-shadow: 0 10px 15px rgba(128, 150, 138,0.7);
  
}

.center-container {
  display: flex;        
  flex-direction: row;
  justify-content: space-between;
  justify-content: start;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-div-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo-div {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.header-text-container {
  margin-left: 20px;
}

.header {
  font-size: 25px;
  color:white;
  font-weight: 600;
  margin: 0px;
}

.subheader {
  margin: 0px;
  color: #c1cec8;
  font-weight: 400;
  font-size: 15px;
}